<ion-view title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
         <img src="img/appicon.png">
         <h2>Ionic Weather App</h2>
         <p>check local weather based on current geolocation</p>
      </div>
      <a href="#/weather" class="item item-icon-left balanced">
        <i class="icon ion-ios7-partlysunny"></i> <b>Current Weather</b>
      </a>
      <a ng-disabled="forcastDisabled" href="#" class="item item-icon-left balanced">
        <i class="icon ion-ios7-partlysunny-outline"></i> <b>5 Day Forecast</b>
      </a>
    </div>
  </ion-content>
</ion-view>
